<a href="https://colab.research.google.com/github/Yashoda84/-game-application-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PROGRAM 1**
A) Create a list and perform the following methods
1) insert() 2) remove() 3) append() 4) len() 5) pop() 6) clear()

In [ ]:
a=[1,3,5,6,7,[3,4,5],"hello"]
print(a)
a.insert(3,20)
print(a)
a.remove(7)
print(a)
a.append("hi")
print(a)
len(a)
print(a)
a.pop()
print(a)
a.pop(6)
print(a)
a.clear()
print(a)

[1, 3, 5, 6, 7, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, 7, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello', 'hi']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello', 'hi']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5]]
[]

B) Create a dictionary and apply the following methods
1) Print the dictionary items 2) access items 3) use get() 4)change values 5) use len()

In [ ]:
#Print the dictionary items....
# dict_var = {key1 : value1, key2 : value2, …..}    Formula Syntax...
#create a dictionary
my_information = {'name': 'Yashoda', 'age':22, 'location': 'Athens'}

print(my_information)

#check data type
print(type(my_information))

{'name': 'Yashoda', 'age': 22, 'location': 'Athens'}
<class 'dict'>

In [ ]:
# access items...
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
  "England": "London"
}

# access the value of keys
print(country_capitals["Germany"])    # Output: Berlin
print(country_capitals["England"])    # Output: London

Berlin
London

In [ ]:
# use get()....
# create a use get() function
li =['a', 'b', 'c', 'a', 'd', 'e', 'b', 'a']
di ={}

for ele in li:

	# Increase the value of key
	# if exists
	if ele in di:
		di[ele]= di[ele]+1
	else:

		# Insert the new key:value
		# pair
		di[ele]= 1

print(di)

{'a': 3, 'b': 2, 'c': 1, 'd': 1, 'e': 1}

In [ ]:
# change values...
phone = {
  "brand": "Apple",
  "model": "12 pro",
  "year": 2024
}
phone.update({"color": "Blue"})
print(phone)

{'brand': 'Apple', 'model': '12 pro', 'year': 2024, 'color': 'Blue'}

In [ ]:
# use len()...
# Python program to illustrate len()
my_list = []
print('Total items in', my_list, 'is :', len(my_list))

list2 = [1, 2, 3, 4, 5, 6]
print('Total items in', list2, 'is :', len(list2))

my_tuple = ('Sam', 'Vicky', 'Sharon', 'Riya')
print('Total items in', my_tuple, 'is :', len(my_tuple))

my_range = range(1, 9)
print('Total items in', my_range, 'is :', len(my_range))

Total items in [] is : 0
Total items in [1, 2, 3, 4, 5, 6] is : 6
Total items in ('Sam', 'Vicky', 'Sharon', 'Riya') is : 4
Total items in range(1, 9) is : 8

C) Create a tuple and perform the following methods:-
1) Add items 2) len() 3) check for item in tuple 4)Access iems

In [ ]:
#Add items...

In [ ]:
#len()....

In [ ]:
#check for item in tuple....

In [ ]:
#Access items...

**PROGRAM 2**
A) Write a python program to add two numbers.

In [ ]:

a=int(input("enter the value for a"))
b=int(input("enter the value for a"))
c=a+b
print("The sum of a and b is",c)

enter the value for a1
enter the value for a2
The sum of a and b is 3

B) Write a python program to print a number is positive/negative using if-else.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

C) Write a python program to find largest number among three numbers.

In [ ]:
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

D) Write a python Program to read a number and display corresponding day using if_elif_else?

In [ ]:
days =["Sunday" ,"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

user_input = int(input("Enter Day"))

print (days[user_input - 1])

Enter Day1
Sunday

**PROGRAM 3**
A) Write a program to create a menu with the following options
1. TO PERFORM ADDITITON 2. TO PERFORM SUBTRACTION
3. TO PERFORM MULTIPICATION 4. TO PERFORM DIVISION
Accepts users input and perform the operation accordingly. Use functions with arguments.

In [ ]:
def add(a,d):
 return a+b
def sub(c,d):
 return c-d
def mul(e,f):
 return b*h
def div(g,h):
 return s/s
print("=================")
print("1. TO PERFORM ADDITITON")
print("2. TO PERFORM SUBTRACTION")
print("3. TO PERFORM MULTIPICATION")
print("4. TO PERFORM DIVISION")
print("=================")
choice = int(input("Enter Your choice"))
if choice ==1:
 a=int(input("Enter the 1st value"))
 b=int(input("Enter the 2nd value"))
 print(add(a,b))
elif choice ==2:
 c=int(input("Enter the 1st value"))
 d=int(input("Enter the 2nd value"))
 print(sub(c,d))
elif choice ==3:
 e=int(input("Enter the 1st value"))
 f=int(input("Enter the 2nd value"))
 print(mul(e,f))
elif choice ==4:
 g=int(input("Enter the 1st value"))
 h=int(input("Enter the 2nd value"))
 print(areadOfSquare(s))
else:
 print("wrong choice")

=================
1. TO PERFORM ADDITITON
2. TO PERFORM SUBTRACTION
3. TO PERFORM MULTIPICATION
4. TO PERFORM DIVISION
=================
Enter Your choice2
Enter the 1st value4
Enter the 2nd value3
1

B) Write a python program to check whether the given string is palindrome or not.

In [ ]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

C) Write a python program to find factorial of a given number using functions

In [ ]:
# Input: An integer number
num = 6

# Initialize the factorial variable to 1
factorial = 1

# Calculate the factorial using a for loop
for i in range(1, num + 1):
    factorial *= i

# Output: The factorial of the number
print(f"The factorial of {num} is {factorial}")

The factorial of 6 is 720

D) Write a Python function that takes two lists and returns True if they are equal otherwise false

In [ ]:
# Define a function called 'common_data' that takes two lists, 'list1' and 'list2', as input
def common_data(list1, list2):
    # Initialize a variable 'result' to False to indicate no common elements initially
    result = False

    # Iterate through each element 'x' in 'list1'
    for x in list1:
        # Iterate through each element 'y' in 'list2'
        for y in list2:
            # Check if the current elements 'x' and 'y' are equal
            if x == y:
                # If there's a common element, set 'result' to True and return it
                result = True
                return result

# Call the 'common_data' function with two lists and print the result
print(common_data([1, 2, 3, 4, 5], [5, 6, 7, 8, 9]))
# Call the 'common_data' function with two lists and print the result
print(common_data([1, 2, 3, 4, 5], [6, 7, 8, 9]))

True
None

PROGRAM-4:

Aim:

A) Write a program to double a given number and add two numbers using lambda()?

In [ ]:
def myfunc(n):
    def f(a):
        return a * n

    return f

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

B) Write a program for filter() to filter only even numbers from a given list

In [ ]:
# Python code to filter even values from a list

# Initialisation of list
lis = [1, 2, 3, 4, 5]

# Output list initialisation
out = []

for num in lis:

	# checking condition
	if num % 2 == 0:
		out.append(num)


# printing output
print(out)

[2, 4]

C) Write a program for map() function to double all the items in the list?

In [ ]:
s = ['1', '2', '3', '4']
res = map(int, s)
print(list(res))

[1, 2, 3, 4]

D) Write a program to find sum of the numbers for the elements of the list by using reduce()?

In [ ]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

PROGRAM-5:

Aim:

A) Demonstrate a python code to implement abnormal termination?

In [ ]:
a=5
b=0
print(a/b)
print("bye")

B) Demonstrate a python code to print try, except and finally block statements

In [ ]:
a = 5
b = 0
print(a/b)

C) Write a python program to open and write “hello world” into a file?

In [ ]:
# This program prints Hello, world!

print('Hello, world!')

Hello, world!

D) Write a python program to write the content “hi python programming” for the existing file.

PROGRAM-6:

Aim:

A) Write a python program to get python version.

In [ ]:
import sys
print("System version is:")
print(sys.version)
print("Version Information is:")
print(sys.version_info)

System version is:
3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]
Version Information is:
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

**Exercise Questions:**

B) Write a python program to open a file and check what are the access permissions acquired by
that file using os module?

In [ ]:
# import os Library
import os

# Check access with os.F_OK
path1 = os.access("text.txt", os.F_OK)
print("Does the path exists:", path1)

# Check access with os.R_OK
path2 = os.access("text.txt", os.R_OK)
print("Access to read the file:", path2)

# Check access with os.W_OK
path3 = os.access("text.txt", os.W_OK)
print("Access to write to file:", path3)

# Check access with os.X_OK
path4 = os.access("text.txt", os.X_OK)
print("Can path be executed:", path4)

Does the path exists: False
Access to read the file: False
Access to write to file: False
Can path be executed: False

C) Write a python program to display a particular month of a year using calendar module.

In [ ]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2024  # year
mm = 11    # month

# To take month and year input from the user
# yy = int(input("Enter year: "))
# mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

D) Write a python program to print all the months of given year.

In [4]:
# Python program to print calendar for given year

# importing calendar library
import calendar

def printcalendar(year):

	# printing calendar
	print(calendar.calendar(year))

# driver program to test above function
year = 2024
printcalendar(year)

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

PROGRAM-7:

Aim:

A) Write a python program to print date, time for today and now

In [13]:
import datetime
a=datetime.datetime.today()
b=datetime.datetime.now()
print(a)
print(b)

2024-11-26 15:48:51.794020
2024-11-26 15:48:51.794081

B) Write a python program to add some days to your present date and print the date added.

In [ ]:
from datetime import datetime
from datetime import timedelta

# taking input as the date
Begindatestring = "2024-11-11"

# carry out conversion between string
# to datetime object
Begindate = datetime.strptime(Begindatestring, "%Y-%m-%d")

# print begin date
print("Beginning date")
print(Begindate)

# calculating end date by adding 10 days
Enddate = Begindate + timedelta(days=10)

# printing end date
print("Ending date")
print(Enddate)

Beginning date
2024-11-11 00:00:00
Ending date
2024-11-21 00:00:00

C) Write a python program to print date, time using date and time functions

In [6]:
# Getting current date and time using now().

# importing datetime module for now()
import datetime

# using now() to get current time
current_time = datetime.datetime.now()

# Printing value of now.
print("It's Time now at greenwich meridian is:", current_time)

It's Time now at greenwich meridian is: 2024-11-26 15:34:45.255103

D) Write a python program which accepts the radius of a circle from user and computes the area
(use math module).

In [11]:
# Python program to find Area of a circle

#Area = pi * r2 where r is radius of circle       ...(Formula)
def findArea(r):
    PI = 3.142
    return PI * (r*r);

# Driver method
print("Area is %.6f" % findArea(5));

Area is 78.550000

PROGRAM-8:

Aim:

A) Write a python program to create a package (college),sub-package (alldept),modules(it,cse)
and create admin and cabin function to module?

In [10]:
def admin():
 print("hi")
def cabin():
 print("hello")

**Exercise Questions:**

B) Write a python program to create a package (Engg), sub-package( years),modules (sem) and create staff and student function to module?

PROGRAM-9:

Aim:

A) Write a python Program to display welcome to MRCET by using classes and objects.

In [3]:
#  instantiating a class
class Dog:

    # A simple class
    # attribute
    attr1 = "mammal"
    attr2 = "dog"

    # A sample method
    def fun(self):
        print("I'm a", self.attr1)
        print("I'm a", self.attr2)


# Driver code
# Object instantiation
Rodger = Dog()

# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

Exercise Questions:

B) Write a python Program to call data member and function using classes and objects.

In [5]:
# Sample class with init method
class Person:

    # init method or constructor
    def __init__(self, name):
        self.name = name

    # Sample Method
    def say_hi(self):
        print('Hello, my name is', self.name)


p = Person('Yashoda')
p.say_hi()

Hello, my name is Yashoda

C) Write a program to find sum of two numbers using class and methods

In [8]:
# The following code displays sum of integers and floats
print("The addition of integers 2 and 6 is: ",2+6)
print("The addition of floats 5.6 + 7.2 is: ",5.6+7.2)

The addition of integers 2 and 6 is:  8
The addition of floats 5.6 + 7.2 is:  12.8

D) Write a program to read 3 subject marks and display pass or failed using class and object.

In [13]:
# Definig a class student, which contain
# name and Roll number and marks of the student

class Student(object):
    def __init__(self, name, roll, marks):
        self.name = name
        self.roll = roll
        self.marks = marks

    def getmarks(self):
        return self.marks

    def getroll(self):
        return self.roll

    def __str__(self):
        return self.name + ' : ' + str(self.getroll()) +'  ::'+  str(self.getmarks())

# Defining a function for building a Record
# which generates list of all the students
def Markss(rec, name, roll, marks):
    rec.append(Student(name, roll, marks))
    return rec

# Main Code
Record = []
x = 'y'
while x == 'y':
    name = input('Enter the name of the student: ')
    height = input('Enter the roll number: ')
    roll = input('Marks: ')
    Record = Markss(Record, name, roll, height)
    x = input('another student? y/n: ')

# Printing the list of student
n = 1
for el in Record:
    print(n,'. ', el)
    n = n + 1

Enter the name of the student: Prem
Enter the roll number: 101
Marks: 200
another student? y/n: y
Enter the name of the student: Shivangi
Enter the roll number: 102
Marks: 250
another student? y/n: y
Enter the name of the student: rahul
Enter the roll number: 103
Marks: 22
another student? y/n: n
1 .  Prem : 200  ::101
2 .  Shivangi : 250  ::102
3 .  rahul : 22  ::103

PROGRAM-10:

Aim:

A) Using a numpy module create an array and check the following:
1. Type of array      2. Axes of array
3. Shape of array     4. Type of elements in array

In [14]:
import numpy as np
arr=np.array([[1,2,3],[4,2,5]])
print("Array is of type:",type(arr))
print("no.of dimensions:",arr.ndim)
print("Shape of array:",arr.shape)
print("Size of array:",arr.size)
print("Array stores elements of type:",arr.dtype)

Array is of type: <class 'numpy.ndarray'>
no.of dimensions: 2
Shape of array: (2, 3)
Size of array: 6
Array stores elements of type: int64

**Exercise Questions:**

B) Using a numpy module create array and check the following:
1. List with type float 2. 3*4 array with all zeros
3. From tuple 4. Random values

In [16]:
#Syntax: numpy.zeros(shape, dtype=float, order=’C’)      ...(Formula)

import numpy as np
arr = np.zeros(9)
print(arr)

#Creating a 2-dimensional array with zeros using numpy.zeros()

import numpy as np

# create a 2-D array of 2 row 3 column
arr = np.zeros((2, 3))
print(arr)

#Multi-dimensional array with zeros using numpy.zeros()

import numpy as np

# creating 3D array
arr = np.zeros((4, 2, 3))

print(arr)

#NumPy zeros array with an integer data type

import numpy as np

# Creating array of 2 rows 3 column
# as Datatype integer
arr = np.zeros((2, 3), dtype=int)
print(arr)

#NumPy Array with Tuple Data Type and Zeroes

import numpy as np

# Specifying array as a tuple, and
# Specify their data types.
arr = np.zeros((2, 2), dtype=[('x', 'int'),
							('y', 'float')])
print(arr)
print(arr.dtype)

[0. 0. 0. 0. 0. 0. 0. 0. 0.]
[[0. 0. 0.]
 [0. 0. 0.]]
[[[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]]
[[0 0 0]
 [0 0 0]]
[[(0, 0.) (0, 0.)]
 [(0, 0.) (0, 0.)]]
[('x', '<i8'), ('y', '<f8')]

C) Using a numpy module create array and check the following:
1. Reshape 3X4 array to 2X2X3 array 2. Sequence of integers from 0 to 30 with steps of 5
3. Flatten array 4. Constant value array of complex type

In [17]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)

print(newarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

PROGRAM-11:

Aim:

A) Write a python program to concatenate the dataframes with two different objects.

In [19]:
import pandas as pd
one=pd.DataFrame({'Name':['yashu','suman'],
 'age':[19,20]},
 index=[1,2])
two=pd.DataFrame({'Name':['suneeta','naman'],
 'age':[20,21]},
 index=[3,4])
print(pd.concat([one,two]))

      Name  age
1    yashu   19
2    suman   20
3  suneeta   20
4    naman   21

**Exercise Questions:**

B) Write a python code to read a csv file using pandas module and print the first and last five lines of a file.

In [22]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("First 5 rows:")
print(diamonds.head())

First 5 rows:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

**PROGRAM-12:**

Aim:

A) Write a python code to set background color and pic and draw a circle using turtle module

In [ ]:
import turtle
t=turtle.Turtle()
t.circle(50)
s=turtle.Screen()
s.bgcolor("pink")
s.bgpic("pic.gif")

**Exercise Questions:**

B) Write a python code to set background color and pic and draw a square and fill the color using turtle module

C) Write a python code to perform addition using functions with pdb module.

In [36]:
def f(x):
    print('doing important stuff..')
    result = g(x) + 2
    return result

def g(x):
    print('some cool stuff going on here, as well')
    0 / 0  # oops! a bug
    return x + 5